* {
  font-family: 'Quicksand', sans-serif;
}

.bl-container {
  min-height: 300px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bl-loading {
  min-height: 300px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bl-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bl-pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bl-pages-wrapper {
  width: auto;
  display: flex;
  flex-direction: row;
}

.bl-pages-item {
  background: rgb(17, 17, 17);
  border: 2px solid rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.7em;
}

.bl-pages-item.selected {
  background: rgb(241, 0, 0);
}

.bl {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.bl-item {
  vertical-align: top;
  margin: 10px 10px;
  align-self: flex-start;
  width: 230px;
  cursor: default;
}

.book-image {
  width: 230px;
  height: 300px;
}

.book-title {
  font-size: 1em;
  color: #000;
  line-break: loose;
  width: auto;
  font-size: 0.9em;
}

.book-author {
  font-size: 0.78em;
  color: rgb(110, 110, 110);
}
