/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand|Rubik');

* {
  padding: 0px;
  margin: 0px;
}
body {
  background: rgb(248, 248, 248);
}
